@{
    ViewData["Title"] = "Proyectos";
}
<div id="textosProyecto">
    <h1 class="text-center" style="font-weight:lighter">Estos son algunos de mis proyectos</h1>
    <h2 class="text-center" style="font-weight:lighter">
        Tengo algunos proyectos en desarrollo
        actualmente que los voy actualizando en mi perfil de GitHub.
    </h2>
</div>

<div class="row text-center justify-content-md-center" style="margin-top: 50px">
    <div class="col-sm-4" style="margin-top: 30px">
        <h1>fsdafasdfasdfas</h1>
        <img src="~/images/articulosweb1.png" width="450px" />
    </div>
    <div class="col-sm-4" style="margin-top: 30px">
        <h1>fsdafasdfasdfas</h1>
        <img src="~/images/articulosweb1.png" width="450px" />
    </div>
    <div class="col-sm-4" style="margin-top: 30px">
        <h1>fsdafasdfasdfas</h1>
        <img src="~/images/articulosweb1.png" width="450px" />
    </div>
</div>

