@{
    ViewData["Title"] = "Proyectos";
}
<div class="spa">
    <div id="textosProyecto">
        <h1 class="text-center" style="font-weight:bolder">Estos son algunos de mis proyectos</h1>
        <h2 class="text-center" style="font-weight:lighter">
            Tengo algunos proyectos en desarrollo
            actualmente que los voy actualizando en mi perfil de GitHub.
        </h2>
    </div>

    <div class="row text-center justify-content-md-center">
        <div class="col-lg-7 text-center imagen-container" id="tarjetaProyectos">
            <h1>Manejo de Presupuestos</h1>
            <img style="cursor: pointer; max-width: 100%;" src="~/images/ManejoPresupuesto.png" width="450px" class="imagen" onclick="agrandarImagen(this)" />
            <p style="margin-top:25px">
                Aplicación web que permite gestionar las finanzas personales con datos almacenados en una base de datos. Incluye varias secciones para un mejor control.
                Los usuarios pueden crear diferentes categorías de ingresos y gastos. Permite editar y eliminar cada ingreso o gasto ya agregado. Cuenta con un sistema 
                de control de usuario. La base de datos está en SQL Server usando Dapper ORM para el manejo de datos con mapeo de base de datos.            
                <br />
                <i class="bi bi-github" id="iconGithubProyectos"></i>
                <a href="https://github.com/GonzaLmas/ManejoPresupuestoMVC-Ejemplo-Dapper" target="_blank" style="color:floralwhite">Repositorio del proyecto </a>
            </p>
        </div>

        <div class="col-lg-7 text-center imagen-container" style="margin-top: 30px" id="tarjetaProyectos">
            <h1>Catálogo de artículos - Web</h1>
            <img style="cursor: pointer; max-width: 100%;" src="~/images/articulosweb1.png" width="450px" class="imagen" onclick="agrandarImagen(this)" />
            <p style="margin-top:25px">
                Aplicación web que cuenta con un catálogo de productos registrados en una base de datos.
                La pantalla principal muestra los productos en tarjetas e incluye una pantalla que enumera los productos con la opción de buscar usando 
                diferentes filtros. La aplicación cuenta con un sistema de inicio de sesión para diferentes usuarios con permisos de administrador. 
                Los administradores pueden agregar, modificar o eliminar productos del catálogo. La base de datos es una base de datos relacional en 
                SQL Server que utiliza ADO .NET para conectividad.                
                <br />
                <i class="bi bi-github" id="iconGithubProyectos"></i>
                <a href="https://github.com/GonzaLmas/App-Catalogo-Web" target="_blank" style="color:floralwhite">Repositorio del proyecto </a>
            </p>
        </div>

        <div class="col-lg-7 text-center imagen-container" style="margin-top: 30px" id="tarjetaProyectos">
            <h1>Control de stock - Aplicación de Escritorio</h1>
            <img style="padding:25px; cursor: pointer; max-width: 100%;" src="~/images/DesktopApp.png" width="450px" class="imagen" onclick="agrandarImagen(this)" />
            <p style="margin-top:25px">
                Aplicación de escritorio para la gestión del stock de una tienda de venta de dispositivos electrónicos. Es una
                aplicación realizada en WinForm en la cual aprendí a trabajar con el paradigma orientado a objetos. La aplicación
                se muestra en una grilla y permite ralizar un CRUD en una base de datos relacional SQL Server. Incluye varios filtros para 
                buscar los dispositivos deseados y la opción de mostrar una imagen para cada producto seleccionado de la grilla para obtener más detalles. 
                La conectividad de la base de datos se implementa utilizando ADO .NET con SQL.
                <br/>
                <i class="bi bi-github" id="iconGithubProyectos"></i>
                <a href="https://github.com/GonzaLmas/Ecommerce-Winform" target="_blank" style="color:floralwhite">Repositorio del proyecto </a>
            </p>
        </div>
      
    </div>
</div>
@* 
<div class="eng">
    <div id="textosProyecto">
        <h1 class="text-center" style="font-weight:bolder">These are some of my projects</h1>
        <h2 class="text-center" style="font-weight:lighter">
            I have some projects currently in development
            that I keep updating on my GitHub profile.
        </h2>
    </div>

    <div class="row text-center justify-content-md-center">
        <div class="col-lg-7 text-center imagen-container" id="tarjetaProyectos">
            <h1>Budget Management</h1>
            <img style="cursor: pointer; max-width: 100%;" src="~/images/ManejoPresupuesto.png" width="450px" class="imagen" onclick="agrandarImagen(this)" />
            <p style="margin-top:25px">
                Web application that allows managing personal finances with data stored in a database. It includes several sections
                for better control. Users can create different categories for income and expenses. It allows editing and deleting
                each income or expense already added. Features a user control system. The database is in SQL Server using Dapper ORM
                for data handling with database mapping.
                <i class="bi bi-github" id="iconGithubProyectos"></i>
                <a href="https://github.com/GonzaLmas/ManejoPresupuestoMVC-Ejemplo-Dapper" target="_blank" style="color:floralwhite">Project Repository </a>
            </p>
        </div>
       
        <div class="col-lg-7 text-center imagen-container" style="margin-top: 30px" id="tarjetaProyectos">
            <h1>Article Catalog - Web</h1>
            <img style="cursor: pointer; max-width: 100%;" src="~/images/articulosweb1.png" width="450px" class="imagen" onclick="agrandarImagen(this)" />
            <p style="margin-top:25px">
                Web application with a catalog of products registered in a database. The main screen displays products in cards,
                and it includes a screen listing products with the option to search using different filters. The application has
                a login system for different users with administrator permissions. Administrators can add, modify, or delete
                products from the catalog. The database is a relational database in SQL Server using ADO .NET for connectivity.
                <i class="bi bi-github" id="iconGithubProyectos"></i>
                <a href="https://github.com/GonzaLmas/App-Catalogo-Web" target="_blank" style="color:floralwhite">Project Repository </a>
            </p>
        </div>
      

        <div class="col-lg-7 text-center imagen-container" style="margin-top: 70px" id="tarjetaProyectos">
            <h1>Stock Control - Desktop Application</h1>
            <img style="padding:25px; cursor: pointer; max-width: 100%;" src="~/images/DesktopApp.png" width="450px" class="imagen" onclick="agrandarImagen(this)" />
            <p style="margin-top:25px">
                Desktop application for managing stock in a store selling electronic devices. Developed in WinForms,
                where I learned object-oriented programming. The application displays data in a grid and allows CRUD operations
                to a SQL Server relational database. It includes various filters to search for desired devices and the option
                to display an image for each selected product from the grid for more detail. The database connectivity is
                implemented using ADO .NET with SQL Server.
                <i class="bi bi-github" id="iconGithubProyectos"></i>
                <a href="https://github.com/GonzaLmas/Ecommerce-Winform" target="_blank" style="color:floralwhite">Project Repository </a>
            </p>
        </div>
    </div>
</div> *@




