@{
    ViewData["Title"] = "Proyectos";
}
<div id="textosProyecto">
    <h1 class="text-center" style="font-weight:lighter">Estos son algunos de mis proyectos</h1>
    <h2 class="text-center" style="font-weight:lighter">
        Tengo algunos proyectos en desarrollo
        actualmente que los voy actualizando en mi perfil de GitHub.
    </h2>
</div>

<div class="row text-center justify-content-md-center">
    <div class="col-lg-7 text-center" style="margin-top: 30px" id="tarjetaProyectos">
        <h1>Artículos Web</h1>
        <img src="~/images/articulosweb1.png" width="450px" />
        <p style="margin-top:25px">
            Aplicación web que cuenta con un catálogo de productos registrados en una base de datos.
            La pantalla principal muestra los productos en tarjetas, también cuenta con una pantalla que muestra el listado
            de los productos con la opción de buscar con diferentes filtros el producto deseado. La aplicación cuenta con
            un sistema de login para distintos usuarios con permisos de administrador o no. Si el usuario cuenta con permisos
            de administrador puede añadir, modificar o eliminar productos del catálogo. La conexión a la base de datos es una
            base de datos relacional trabajada con SQL Server utilizando ADO .NET.
            <i class="bi bi-github" id="iconGithubProyectos"></i>
            <a href="https://github.com/GonzaLmas/App-Catalogo-Web" target="_blank"style="color:floralwhite">Repositorio del proyecto </a>
        </p>
    </div>
    <div class="col-lg-7 text-center" style="margin-top: 70px" id="tarjetaProyectos">
        <h1>Aplicación de Escritorio</h1>
        <img style="padding:25px" src="~/images/DesktopApp.png" width="450px" />
        <p style="margin-top:25px">

            <i class="bi bi-github" id="iconGithubProyectos"></i>
            <a href="https://github.com/GonzaLmas/Ecommerce-Winform" target="_blank" style="color:floralwhite">Repositorio del proyecto </a>
        </p>
    </div>
    <div class="col-lg-7 text-center" style="margin-top: 70px" id="tarjetaProyectos">
        <h1>Manejo de Presupuestos</h1>
        <img src="~/images/ManejoPresupuesto.png" width="450px" />
        <p style="margin-top:25px">

            <i class="bi bi-github" id="iconGithubProyectos"></i>
            <a href="https://github.com/GonzaLmas/ManejoPresupuestoMVC-Ejemplo-Dapper" target="_blank" style="color:floralwhite">Repositorio del proyecto </a>
        </p>
    </div>
</div>

