@{
    ViewData["Title"] = "Resumen";
}

<div class="spa">
    <!-- Sección de Resumen -->
    <div class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; margin-bottom: 70px" id="textosResumen">
        <h1 class="text-center" style="font-weight:bolder">Resumen</h1>
        <p class="" style="font-weight:lighter; text-align:left">
            Soy una persona entusiasta de la tecología hace más de 13 años, lo que me llevó a estudiar en una escuela secundaria con especialidad en electrónica.
            Al graduarme, inmediatamente comencé a trabajar como técnico en electrónica, especializándome en hardware durante casi 4 años en diferentes empresas
            y de forma independiente.
            Sin embargo, siempre tuve la curiosidad de aprender más sobre software. Con la base que ya tenía en C de 2 años
            se me simplificó bastante aprender un nuevo lenguaje el cual fue C#. Comencé con este idioma tomando algunos cursos y sigo capacitándome
            hasta el día de hoy. Además, en 2022 comencé a estudiar una carrera en la universidad que enseña con este idioma.
        </p>
        <a href="~/archivos/CV-Lamas Gonzalo-Desarrollador .NET.pdf" download="CV - Gonzalo Lamas Desarrollador .NET.pdf" style="border: 2px solid whitesmoke;
             border-radius: 15px; padding: 15px; color: whitesmoke; text-decoration: none; font-size: 18px;
             font-weight: bold">Descargar CV</a>
        <a href="https://github.com/GonzaLmas" target="_blank" style="text-decoration: none;"><i class="bi bi-github" id="iconGithub" style="margin: 40px; font-family: Gadugi;">Perfil de GitHub</i></a>
        <a href="https://www.linkedin.com/in/gonzalo-lamas-eze/" target="_blank" style="text-decoration: none;"><i class="bi bi-linkedin" id="iconLinkedin" style="font-family: Gadugi;">Perfil de Linkedin</i></a>
    </div>

    <!-- Sección de Trabajos -->
    <h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">Experiencia Laboral</h1>
    <div class="col-lg-10 mx-auto" style="font-weight:bolder;">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
                Desarrollador .NET Jr
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">EC Sistemas SRL(empleador) | Binaria Seguros(cliente) - Argentina || Enero 2024 - Actualidad</h5>
            <p style="text-align:left; margin-left:20px; font-size:20px">
                Formo parte de un equipo de desarrollo compuesto por dos desarrolladores, un QA y el líder técnico,
                donde trabajamos en la migración de una aplicación AS400 a .NET Core MVC. Responsable del desarrollo full-stack de la aplicación,
                abarcando tanto el front-end en JavaScript y jQuery como el back-end en C#.
                Utilizamos Dapper para interactuar con la base de datos de SQL Server y diseñar procedimientos almacenados para su funcionalidad.
                Contribuí al proyecto desde su etapa inicial, avanzando el desarrollo del 20% hasta su estado actual.
            </p>
        </div>
    </div>
    <div class="col-lg-10 mx-auto" style="font-weight:bolder;">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
                Desarrollador Junior
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">PyMe - Argentina || Septiembre 2022 - Mayo 2023</h5>
            <p style="text-align:left; margin-left:20px; font-size:20px">
                Formé parte de un equipo de desarrollo de 4 personas. Desarrollábamos y manteníamos un software ERP
                trabajado en .NET con Visual Basic. Principalmente manejé tareas de mantenimiento de aplicaciones, enfocándome en el backend.
                Trabajé con registros de la base de datos. Tecnologías usadas: Visual Basic, HTML, CSS, JavaScript y SQL Server.
            </p>
        </div>
    </div>
    <div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
                Técnico en microelectrónica
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                Servicio Técnico de Smartphones - Argentina || Enero 2021 - Febrero 2022
            </h5>
            <p style="text-align:left; margin-left:20px; font-size:20px">
                Con los conocimientos adquiridos como técnico en electrónica decidí comenzar con mi propio servicio técnico de smartphones.
                Si bien tuve que especializarme en
                estos dispositivos, el mayor desafío fue aprender a trabajar las placas con componentes microscópicos.
                Tuve que adquirir herrramientas de trabajo específicas para armar mi propio laboratorio de
                microelectrónica. Fue una experiencia muy enriquecedora ya que tuve que aprender a vender mi servicio, tratar
                con clientes sin intermediarios y construir nuevas habilidades de diagnóstico y reparación.
            </p>
        </div>
    </div>
    <div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
                Técnico en Electrónica
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">Distintas Empresas - Argentina || Marzo 2019 - Agosto 2023</h5>
            <p style="text-align:left; margin-left:20px; font-size:20px">
                Me desempeñé durante casi 4 años cómo técnico en electrónica para tres empresas distintas a lo largo de esos años.
                Trabajé en servicio técnico de electrodomésticos en SAT Argentina dónde a los pocos meses ya estaba a cargo
                de un sector. En Melta SA fui responsable de la revisión, diagnóstico y reparación de equipos de radiofrecuencia
                de las principales empresas de telecomunicaciones de Argentina. En Casino Club SA inspeccioné, diagnosticé y
                reparé máquinas tragamonedas para el casino más grande de Argentina.
            </p>
        </div>
    </div>

    <!-- Sección de Educación -->
    <h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder; margin-top:70px">Educación</h1>
    <div class="col-lg-10 mx-auto" style="font-weight:bolder;">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                Analista Programador
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                Universidad Abierta Interamericana - Argentina || Agosto 2022 - Actualidad
            </h5>
        </div>
    </div>
    <div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                Técnico en Electrónica
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                Instituto San José (A-355) - Argentina || Marzo 2013 - Diciembre 2018
            </h5>
        </div>
    </div>

    <!-- Sección de Cursos -->
    <h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder; margin-top:70px">Cursos</h1>
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="row">
                <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                    <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                        ASP .NET Core MVC 6
                    </h4>
                    <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                        Instructor: Felipe Gavilán
                    </h5>
                </div>
                <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                    <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                        .NET Web - WebForms - C# Nivel 3
                    </h4>
                    <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                        Academia Maxi Programa
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="row">
                <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                    <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                        .NET - POO - SQL - C# Nivel 2
                    </h4>
                    <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                        Academia Maxi Programa
                    </h5>
                </div>
                <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                    <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                        Fundamentos de la Programación - C# Nivel 1
                    </h4>
                    <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                        Academia Maxi Programa
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="eng">
    <!-- Summary Section -->
    <div class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; margin-bottom: 70px" id="textosResumen">
        <h1 class="text-center" style="font-weight:bolder">Summary</h1>
        <p class="" style="font-weight:lighter; text-align:left">
            I am an enthusiastic technology person for over 13 years, which led me to study at a
            high school specializing in electronics. Upon graduation, I immediately started working as an electronics technician,
            specializing in hardware for almost 4 years in different companies and independently.
            However, I always had the curiosity to learn more about software. With the foundation I already had in C for 2 years,
            it became much easier for me to learn a new language, which was C#. I started with this language by taking some courses
            and continue to train myself to this day. Also, in 2022, I started studying a degree at university that teaches with this language.
        </p>
        <a href="~/archivos/CV-Lamas Gonzalo .NET Developer.pdf" download="CV - Gonzalo Lamas .NET Developer.pdf" style="border: 2px solid whitesmoke;
             border-radius: 15px; padding: 15px; color: whitesmoke; text-decoration: none; font-size: 18px;
             font-weight: bold">Download CV</a>
        <a href="https://github.com/GonzaLmas" target="_blank" style="text-decoration: none;"><i class="bi bi-github" id="iconGithub" style="margin: 40px; font-family: Gadugi;">GitHub Profile</i></a>
        <a href="https://www.linkedin.com/in/gonzalo-lamas-eze/?locale=en_US" target="_blank" style="text-decoration: none;"><i class="bi bi-linkedin" id="iconLinkedin" style="font-family: Gadugi;">LinkedIn Profile</i></a>
    </div>

    <!-- Work Experience Section -->
    <h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">Work Experience</h1>
    <div class="col-lg-10 mx-auto" style="font-weight:bolder;">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
                Junior .NET Developer
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">EC Sistemas SRL (employer) | Binaria Seguros (client) - Argentina || January 2024 - Present</h5>
            <p style="text-align:left; margin-left:20px; font-size:20px">
                I am part of a development team consisting of two developers, a QA, and the technical leader,
                where we work on migrating an AS400 application to .NET Core MVC. Responsible for the full-stack development
                of the application, covering both front-end in JavaScript and jQuery and back-end in C#.
                We use Dapper to interact with the SQL Server database and design stored procedures for functionality.
                I contributed to the project from its initial stage, advancing development from 20% to its current state.
            </p>
        </div>
    </div>
    <div class="col-lg-10 mx-auto" style="font-weight:bolder;">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
                Junior Developer
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">PyMe - Argentina || September 2022 - May 2023</h5>
            <p style="text-align:left; margin-left:20px; font-size:20px">
                I was part of a 4-person development team. We developed and maintained an ERP software
                built in .NET with Visual Basic. I primarily handled application maintenance tasks,
                focusing on the backend. I worked with database records using Visual Basic, HTML, CSS, JavaScript, and SQL Server.
            </p>
        </div>
    </div>
    <div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
                Microelectronics Technician
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                Smartphone Technical Service - Argentina || January 2021 - February 2022
            </h5>
            <p style="text-align:left; margin-left:20px; font-size:20px">
                With the knowledge gained as an electronics technician, I decided to
                start my own smartphone technical service. While I had to specialize in
                these devices, the greatest challenge was learning to work with boards
                with microscopic components. I had to acquire specific tools to set up
                my own microelectronics laboratory. It was a very enriching experience
                as I had to learn to market my service, deal directly with clients,
                and build new diagnostic and repair skills.
            </p>
        </div>
    </div>
    <div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
                Electronic Technician
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">Various Companies - Argentina || March 2019 - August 2023</h5>
            <p style="text-align:left; margin-left:20px; font-size:20px">
                I worked as an electronics technician for almost 4 years in three different companies during that time.
                I worked in appliance repair service at SAT Argentina where within a few months I was in charge
                of a department. At Melta SA, I was responsible for reviewing, diagnosing, and repairing radio frequency equipment
                for Argentina's major telecommunications companies. At Casino Club SA, I inspected, diagnosed, and
                repaired slot machines for Argentina's largest casino.
            </p>
        </div>
    </div>

    <!-- Education Section -->
    <h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder; margin-top:70px">Education</h1>
    <div class="col-lg-10 mx-auto" style="font-weight:bolder;">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                Programmer Analyst
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                Inter-American Open University - Argentina || August 2022 - Present
            </h5>
        </div>
    </div>
    <div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
        <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
            <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                Electronics Technician
            </h4>
            <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                Instituto San José (A-355) - Argentina || March 2013 - December 2018
            </h5>
        </div>
    </div>

    <!-- Courses Section -->
    <h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder; margin-top:70px">Courses</h1>
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="row">
                <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                    <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                        ASP .NET Core MVC 6
                    </h4>
                    <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                        Instructor: Felipe Gavilán
                    </h5>
                </div>
                <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                    <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                        .NET Web - WebForms - C# Level 3
                    </h4>
                    <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                        Maxi Program Academy
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="row">
                <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                    <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                        .NET - OOP - SQL - C# Level 2
                    </h4>
                    <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                        Maxi Program Academy
                    </h5>
                </div>
                <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                    <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                        Programming Fundamentals - C# Level 1
                    </h4>
                    <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                        Maxi Program Academy
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
