@{
    ViewData["Title"] = "Resumen";
}

<div class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; margin-bottom: 100px" id="textosResumen">
    <h1 class="text-center" style="font-weight:bolder">Resumen</h1>
    <p class="text-center" style="font-weight:lighter">
        Soy una persona entusiasta de la tecología hace más de 13 años y cómo consecuencia empecé a estudiar en un
        colegio secundario con orientación en electrónica. Al graduarme empecé trabajando inmediatamente cómo técnico
        en electrónica especializándome en hardware durante casi 4 años en distintas empresas e independientemente. 
        Pero siempre tuve esa inquietud de poder aprender más sobre software. Con la base que ya tenía de 2 años en 
        C se me simplificó bastante aprender un nuevo lenguaje el cual fue C#. Empecé con este lenguaje realizando 
        algunos cursos y hasta el día de hoy sigo capacitándome. Y también en el año 2022 comencé a estudiar una 
        carrera en la universidad que enseñan con este lenguaje.
    </p>
    <a href="~/archives/CV-GonzaloLamas.pdf" download="CV-GonzaloLamas" style="border: 2px solid whitesmoke;
             border-radius: 15px; padding: 15px; color: whitesmoke; text-decoration: none; font-size: 20px;
             font-weight: bold">Descargar CV</a>
</div>