@{
    ViewData["Title"] = "Resumen";
}

<div class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; margin-bottom: 70px" id="textosResumen">
    <h1 class="text-center" style="font-weight:bolder">Resumen</h1>
    <p class="" style="font-weight:lighter; text-align:left">
        Soy una persona entusiasta de la tecología hace más de 13 años y cómo consecuencia empecé a estudiar en un
        colegio secundario con orientación en electrónica. Al graduarme empecé trabajando inmediatamente cómo técnico
        en electrónica especializándome en hardware durante casi 4 años en distintas empresas e independientemente.
        Pero siempre tuve la inquietud de poder aprender más sobre software. Con la base que ya tenía en C de 2 años
        se me simplificó bastante aprender un nuevo lenguaje el cual fue C#. Empecé con este lenguaje realizando
        algunos cursos y hasta el día de hoy sigo capacitándome. Y también en el año 2022 comencé a estudiar una
        carrera en la universidad que enseñan con este lenguaje.
    </p>
    <a href="~/archives/CV-GonzaloLamas.pdf" download="CV-GonzaloLamas" style="border: 2px solid whitesmoke;
             border-radius: 15px; padding: 15px; color: whitesmoke; text-decoration: none; font-size: 18px;
             font-weight: bold">Descargar CV</a>
</div>

<h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">Experiencia Laboral</h1>
<div class="col-lg-10 mx-auto" style="font-weight:bolder;">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
            Desarrollador .NET Junior
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">PyMe - Argentina || Septiembre 2022 - Mayo 2023</h5>
        <p style="text-align:left; margin-left:20px; font-size:20px">
            Formé parte de un equipo de desarrollo de 4 personas. Desarrollábamos y manteníamos un software ERP
            trabajado en .NET con Visual Basic. Principalmente realizaba tareas de mantenimiento de la aplicación.
            Estaba enfocado en el backend de la aplicación. Trabajaba con registros de la base de datos. Tecnologías
            usadas: Visual Basic, HTML, CSS, JavaScript y SQL Server.
        </p>
    </div>
</div>
<div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
            Técnico de microelectrónica
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">
            Servicio Técnico de Smartphones - Argentina || Enero 2021 - Febrero 2022
        </h5>
        <p style="text-align:left; margin-left:20px; font-size:20px">
            Con los conocimientos que adquirí con mi experiencia cómo técnico en electrónica, tomé la decisión de
            empezar un servicio técnico de smartphones por cuenta propia. Si bien los tuve que especializarme en
            estos dispositivos, el mayor desafío fue aprender a trabajar las placas con componentes microscópicos.
            Tuve que adquirir herrramientas de trabajo espefíficas para armar mi propio laboratorio de
            microelectrónica. Fue una experiencia muy rica ya que tuve que aprender a vender mi servicio, tratar
            con clientes sin intermediarios y nuevas habilidades de diagnóstico y reparación.
        </p>
    </div>
</div>
<div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
            Técnico Electrónico
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">Distintas Empresas - Argentina || Marzo 2019 - Agosto 2023</h5>
        <p style="text-align:left; margin-left:20px; font-size:20px">
            Me desempeñé durante casi 4 años cómo técnico en electrónica para 3 empresas distintas a lo largo de esos años.
            Trabajé en servicio técnico de electrodomésticos en SAT Argentina dónde a los pocos meses ya estaba a cargo
            de un sector. En Melta SA me encargaba de revisar, disgnosticar y reparar equipos de radiofrecuencia para
            las principales compañías de telecomunicaciones de Argentina. En Casino Club SA revisaba, diagnosticaba y
            reparaba máquinas de slots del casino que se encuentra en el Hipódromo de Palermo.
        </p>
    </div>
</div>

<h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder; margin-top:70px">Educación</h1>
<div class="col-lg-10 mx-auto" style="font-weight:bolder;">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
            Analista Programador
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">
            Universidad Abierta Interamericana - Argentina || Agosto 2022 - Actualidad
        </h5>
    </div>
</div>
<div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
            Técnico en Electrónica
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">
            Instituto San José (A-355) - Argentina || Marzo 2013 - Diciembre 2018
        </h5>
    </div>
</div>