@{
    ViewData["Title"] = "Resumen";
}

<!-- Sección de Resumen -->
<div class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; margin-bottom: 70px" id="textosResumen">
    <h1 class="text-center" style="font-weight:bolder">Resumen</h1>
    <p class="" style="font-weight:lighter; text-align:left">
        Soy una persona entusiasta de la tecología hace más de 13 años y cómo consecuencia empecé a estudiar en un
        colegio secundario con orientación en electrónica. Al graduarme empecé trabajando inmediatamente cómo técnico
        en electrónica especializándome en hardware durante casi 4 años en distintas empresas e independientemente.
        Pero siempre tuve la inquietud de poder aprender más sobre software. Con la base que ya tenía en C de 2 años
        se me simplificó bastante aprender un nuevo lenguaje el cual fue C#. Empecé con este lenguaje realizando
        algunos cursos y hasta el día de hoy sigo capacitándome. Y también en el año 2022 comencé a estudiar una
        carrera en la universidad que enseñan con este lenguaje.
    </p>
    <a href="~/archivos/cv-lamas gonzalo, desarrollador .net jr.pdf.pdf" download="CV-GonzaloLamas" style="border: 2px solid whitesmoke;
             border-radius: 15px; padding: 15px; color: whitesmoke; text-decoration: none; font-size: 18px;
             font-weight: bold">Descargar CV</a>
</div>

<!-- Sección de Trabajos -->
<h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">Experiencia Laboral</h1>
<div class="col-lg-10 mx-auto" style="font-weight:bolder;">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
            Desarrollador .NET Jr
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">EC Sistemas SRL(empleador) | Binaria Seguros(cliente) - Argentina || Enero 2024 - Actualidad</h5>
        <p style="text-align:left; margin-left:20px; font-size:20px">
            Formo parte de un equipo de desarrollo compuesto por dos desarrolladores, un QA y el líder técnico,
            donde trabajamos en la migración de una aplicación AS400 a .NET Core MVC. Responsable del desarrollo
            integral de la aplicación, abarco tanto el front-end en JavaScript y jQuery como el back-end en C#.
            Utilizamos Dapper para interactuar con la base de datos en SQL Server y diseño procedimientos almacenados
            para la funcionalidad. Contribuí al proyecto desde su etapa inicial, avanzando el desarrollo del 20% al estado actual.
        </p>
    </div>
</div>
<div class="col-lg-10 mx-auto" style="font-weight:bolder;">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
            Desarrollador Junior
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">PyMe - Argentina || Septiembre 2022 - Mayo 2023</h5>
        <p style="text-align:left; margin-left:20px; font-size:20px">
            Formé parte de un equipo de desarrollo de 4 personas. Desarrollábamos y manteníamos un software ERP
            trabajado en .NET con Visual Basic. Principalmente realizaba tareas de mantenimiento de la aplicación.
            Estaba enfocado en el backend de la aplicación. Trabajaba con registros de la base de datos. Tecnologías
            usadas: Visual Basic, HTML, CSS, JavaScript y SQL Server.
        </p>
    </div>
</div>
<div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
            Técnico de microelectrónica
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">
            Servicio Técnico de Smartphones - Argentina || Enero 2021 - Febrero 2022
        </h5>
        <p style="text-align:left; margin-left:20px; font-size:20px">
            Con los conocimientos que adquirí con mi experiencia cómo técnico en electrónica, tomé la decisión de
            empezar un servicio técnico de smartphones por cuenta propia. Si bien tuve que especializarme en
            estos dispositivos, el mayor desafío fue aprender a trabajar las placas con componentes microscópicos.
            Tuve que adquirir herrramientas de trabajo espefíficas para armar mi propio laboratorio de
            microelectrónica. Fue una experiencia muy rica ya que tuve que aprender a vender mi servicio, tratar
            con clientes sin intermediarios y construir nuevas habilidades de diagnóstico y reparación.
        </p>
    </div>
</div>
<div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="border: 2px solid whitesmoke; border-radius: 10px; padding: 9px; text-align:left; margin-left:5px">
            Técnico Electrónico
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">Distintas Empresas - Argentina || Marzo 2019 - Agosto 2023</h5>
        <p style="text-align:left; margin-left:20px; font-size:20px">
            Me desempeñé durante casi 4 años cómo técnico en electrónica para 3 empresas distintas a lo largo de esos años.
            Trabajé en servicio técnico de electrodomésticos en SAT Argentina dónde a los pocos meses ya estaba a cargo
            de un sector. En Melta SA me encargaba de revisar, disgnosticar y reparar equipos de radiofrecuencia para
            las principales compañías de telecomunicaciones de Argentina. En Casino Club SA revisaba, diagnosticaba y
            reparaba máquinas de slots para el casino más importante de Argentina.
        </p>
    </div>
</div>

<!-- Sección de Educación -->
<h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder; margin-top:70px">Educación</h1>
<div class="col-lg-10 mx-auto" style="font-weight:bolder;">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
            Analista Programador
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">
            Universidad Abierta Interamericana - Argentina || Agosto 2022 - Actualidad
        </h5>
    </div>
</div>
<div class="col-lg-10 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder">
    <div class="col-lg-10 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
        <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
            Técnico en Electrónica
        </h4>
        <h5 style="text-align:left; margin-left:20px; font-size: 22px">
            Instituto San José (A-355) - Argentina || Marzo 2013 - Diciembre 2018
        </h5>
    </div>
</div>

<!-- Sección de Cursos -->
<h1 class="col-lg-8 mx-auto" style="max-width: 100%; text-align:left; font-weight:bolder; margin-top:70px">Cursos</h1>
<div class="row">
    <div class="col-lg-9 mx-auto">
        <div class="row">
            <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                    ASP .NET Core MVC 6
                </h4>
                <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                    Instructor: Felipe Gavilán
                </h5>
            </div>
            <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                    .NET Web - WebForms - C# Nivel 3
                </h4>
                <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                    Academia Maxi Programa
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 mx-auto">
        <div class="row">
            <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                    .NET - POO - SQL - C# Nivel 2
                </h4>
                <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                    Academia Maxi Programa
                </h5>
            </div>
            <div class="col-lg-5 mx-lg-auto text-center imagen-container" style="margin-top: 30px" id="tarjetaResumen">
                <h4 style="text-align:left; margin-left:5px; margin-bottom:18px">
                    Fundamentos de la Programación - C# Nivel 1
                </h4>
                <h5 style="text-align:left; margin-left:20px; font-size: 22px">
                    Academia Maxi Programa
                </h5>
            </div>
        </div>
    </div>
</div>

